*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 16px;
}

body{
    margin: 0%;
}


header{
    background-color: rgb(92, 143, 126);
}

header nav ul{
    margin: 0%;
    padding: 2rem;
}

header nav ul li{
    list-style-type: none;
    display: inline;padding: 2rem;
    padding-right: 2rem;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

iframe{
    width: 100vw;
    height: 100vh;
}

table{
    border-collapse: collapse ;
}

thead{
     background-color: rgb(251, 215, 148);
}

th, td{
    border: 1px solid black;
    padding: 0.5rem;
}

td{
    text-align: center;
}

.row-pink{
    background-color: rgb(255, 227, 232);
}

.row-gray{
    background-color: rgb(183, 183, 183);
}